body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0073e6; /* Azul Correios */
    color: #333; /* Cinza escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 16px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.login-container {
    background-color: #ffffff; /* Branco */
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    transition: transform 0.3s ease; /* Transição suave */
}

.login-container:hover {
    transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #0073e6; /* Amarelo */
    font-size: 24px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #ccc; /* Cinza claro */
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s ease; /* Transição suave */
}

.login-container input:focus {
    border-color: #0073e6; /* Azul Correios ao focar */
}

.login-container button {
    background-color: #fdd835; /* Amarelo */
    color: #333; /* Cinza escuro */
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-container button:hover {
    background-color: #fbc02d; /* Amarelo um pouco mais escuro */
}

/* Adicionando responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 20px;
        width: 100%;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .login-container input, .login-container button {
        font-size: 14px;
        padding: 10px;
    }
}
