@keyframes colorOscillation {
    0% {
        background-color: #b3e5fc; /* Azul claro */
    }
    25% {
        background-color: #0073e6; /* Azul Correios */
    }
    50% {
        background-color: #0073e6; /* Azul Correios */
    }
    75% {
        background-color: #f2d11b; /* Azul claro */
    }
    85% {
        background-color: #ede260; /* Azul Correios */
    }
    100% {
        background-color: #f4f48e; /* Azul Correios */
    }
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    overflow: hidden;
    background-color: #f0f0f0; /* Cor de fundo neutra ou nenhuma */
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
    animation: colorOscillation 15s ease-in-out infinite;
}


.login-container {
    background-color: #ffffff; /* Branco */
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #0073e6; /* Amarelo */
    font-size: 24px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #ccc; /* Cinza claro */
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s ease; /* Transição suave */
}

.login-container input:focus {
    border-color: #0073e6; /* Azul Correios ao focar */
}

.login-container button {
    background-color: #fdd835; /* Amarelo */
    color: #333; /* Cinza escuro */
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-container button:hover {
    background-color: #fbc02d; /* Amarelo um pouco mais escuro */
}

/* Adicionando responsividade */
@media (max-width: 800px) {
    .login-container {
        padding: 20px;
        width: 100%;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .login-container input, .login-container button {
        font-size: 14px;
        padding: 10px;
    }
}

