body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

h1 {
    color: #003366;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas fixas */
    gap: 10px;
    justify-items: center; /* Centrliza os botões horizontalmente */
}

.botoes label {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    
    cursor: pointer;
    transition: background-color 0.3s;
}

.botoes label:hover {
    background-color: #ffcc00;
    color: #003366;
}

.botoes input {
    display: none;
}

/* Classe adicionada via JavaScript */
.botoes label.checked {
    font-weight: bold;
    background-color: #ffcc00; /* Cor amarela ao ser clicada */
    color: #003366; /* Cor de texto */
}

/* .botoes input:checked + span {
    font-weight: bold;
    background-color: #ffcc00; /* Cor amarela ao ser clicada */
    color: #003366; /* Cor de texto */
    


.resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #004080;
    display: block;
}

.resultado div {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

.resultado strong {
    display: block;
    width: 100%;
    text-align: center;
}

/* Responsivo para telas pequenas */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;  /* Alinha os boões ao centro */
    }

    .botoes label {
        justify-content: center;
        width: 80%; /* Ajusta a largura conforme necessário */
    }

    .resultado {
        font-size: 18px;
    }
}
