body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado de height para min-height */
    margin: 0;
}

header, footer {
    background-color: #0056b3;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
    min-width: 300px;
    max-width: 100%; /* Alterado de 1200px para 100% */
    height: auto; /* Deixe a altura ser dinâmica */
    overflow: auto;
}

h1 {
    color: #333;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    width: 200px;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: #ffcc00;
    transform: scale(1.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
}

th, td {
    height: 50px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Previne quebra de linha */
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#calendar div {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 50%;
}

#calendar div.viewed {
    background-color: green;
    font-weight: bold;
}

/* Estilização do modal */
dialog {
    width: 50%;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.tooltip-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 200px;
    word-wrap: break-word;
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    max-width: 250px;
    word-wrap: break-word;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    z-index: 1000;
}

.speech-pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#speechAnimation {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #0066ff;
    font-size: 18px;
    margin-bottom: 10px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, footer {
        padding: 8px 0;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    button {
        width: 100%; /* Botões ocupam toda a largura */
        font-size: 18px;
    }

    table {
        font-size: 14px;
    }

    #calendar {
        grid-template-columns: repeat(4, 1fr); /* Reduz para 4 itens por linha em telas pequenas */
    }

    .search-container input {
        width: 100%; /* Aumenta o campo de pesquisa para 100% */
    }

    dialog {
        width: 90%; /* Aumenta a largura do modal em telas menores */
    }
}
